@import "../../scss/definitions.scss";

.mcc-nice-width {
  max-width: 800px;
}

video {
  width: 100% !important;
  height: auto !important;
}

.mcc-link {
  color: $color-link;
  text-decoration: none;
}

.mcc-link:hover {
  color: darken($color-link, 20%);
}

ul {
  padding-left: 20px;  
}

.app-body img, .mcc-embed-media-center {
  display: table;
  margin: auto;  
}

.mcc-inline {
  display: inline !important;
}

.mcc-block {
  display: block !important;
}
