@import "../../scss/definitions.scss";

.mcc-nice-width {
  max-width: 800px;
}

video {
  width: 100% !important;
  height: auto !important;
}

.mcc-link {
  color: $color-link;
  text-decoration: none;
}

.mcc-link:hover {
  color: darken($color-link, 20%);
}