@media print {  
  .print-one-page {     
    margin: 4px 0 4px 0;  
    page-break-inside: avoid;
  }
  table {        
    width: 100% !important;
  }
  tr { page-break-inside:avoid !important; 
       page-break-after:auto !important;
  }
}